<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" bootstrap="vendor/autoload.php" executionOrder="depends,defects" beStrictAboutOutputDuringTests="true" failOnRisky="true" failOnWarning="true" cacheDirectory=".phpunit.cache" requireCoverageMetadata="false" beStrictAboutCoverageMetadata="true">
  <testsuites>
    <testsuite name="default">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="DB_CONNECTION" value="testing"/>
    <env name="SCOUT_DRIVER" value="manticore"/>
    <env name="SCOUT_PREFIX" value="test_"/>
    <env name="MANTICORE_HOST" value="localhost"/>
    <env name="MANTICORE_PORT" value="9308"/>
    <env name="MANTICORE_MYSQL_HOST" value="127.0.0.1"/>
    <env name="MANTICORE_MYSQL_PORT" value="9306"/>
    <!--        <env name="QUEUE_CONNECTION" value="database"/>-->
    <env name="APP_KEY" value="AckfSECXIvnK5r28GVIWUAxmbBSjTsmF"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
</phpunit>
